build/
devel/
install/
logs/
src/CMakeLists.txt
.catkin_tools/
.idea/
.vscode/
**/.vscode/
__pycache__/
*.pyc
*.bag
*.pcd
*.ply
*.onnx
*.engine
*.pt
*.pth
src/lidar_camera_road_curb_detection/weights/*
!src/lidar_camera_road_curb_detection/weights/.gitkeep

.catkin_workspace
